* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: url(donate-today-main/donate-today-main/images/donation1.jpg);
    min-height: 100vh;
    width: 100%;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    position: relative;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 16px;
    color: white;
}

.button {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 5px 5px;
    margin-top: 5%;
    border-radius: 5px;



}

.donation {
    text-align: center;
    padding: 2%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.box {
    height: 50px;
    width: 80px;
    margin: 20px;
    background-color: antiquewhite;
    text-align: center;
}

.donate {
    margin-top: 5%;
}

.taka {
    text-align: center;
    margin-bottom: 5%;
}

.fixed-amount {
    height: 50px;
    width: 80px;
    margin: 20px;
    text-align: center;
    background-color: lightcoral;
}

.description {
    display: flex;
    margin-left: 10%;
}

.half-width {
    width: 50%
}

.half-width img {
    width: 80%;
    padding: 20px;
    border-radius: 10%;
}

.donation-plan {
    display: flex;
    margin-top: 5%;
}

.coloum-1 {
    width: 450px;
    height: 250px;
    border: 1px solid gray;
    background-color: lightgray;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;

}

.coloum-2 {
    width: 450px;
    height: 250px;
    border: 1px solid gray;
    background-color: lightblue;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
}

.coloum-3 {
    width: 450px;
    height: 250px;
    border: 1px solid gray;
    background-color: lavender;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
}

.my-update {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 200px;
    width: 350px;
    margin-left: 35%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
}

.end-description {
    height: 150px;
    text-align: center;
    background-color: black;
    color: brown;
    margin-top: 10%;
}

.subscribe-button {
    color: white;
    background-color: red;
}

.be-humble {
    text-align: center;
}

.commited {
    color: white;
}